<form [formGroup]="expenseForm" class="expense-form flex flex-col gap-4" (ngSubmit)="onSubmit()">

    @if (isEditingExpense) {
    <h2 class="text-xl text-slate-900 my-0 font-medium">Editing expense</h2>
    } @else {
    <h2 class="text-xl text-slate-900 my-0 font-medium">Add a new expense</h2>
    }

    <p-toast />

    <div class="flex flex-col gap-3">
        <p-inputGroup class="inputgroup-container">
            <div class="mb-2 flex justify-between">
                <label for="category" class=" text-slate-900">Category</label>
                <button type="button" class="text-slate-500 text-xs" (click)="fireAddNewCategoryEvent()">Add new category</button>
            </div>
            <div class="flex">
                <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                    <i class="pi pi-list"></i>
                </p-inputGroupAddon>
                <p-dropdown id="category" formControlName="category" [options]="categories" optionLabel="name"
                    optionValue="name" placeholder="Select a category" styleClass="inputgroup-input"
                    (onChange)="onCategorySelect($event)" />
            </div>
            <div *ngIf="category?.invalid && category?.touched" class="mt-2 text-red-500">Please select a category</div>
        </p-inputGroup>

        <div class="flex flex-col xl:flex-row gap-3">
            <div>
                <p-inputGroup class="inputgroup-container">
                    <label for="amount" class="mb-2 text-slate-900">Amount</label>
                    <div class="flex">
                        <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                            <i class="pi pi-dollar"></i>
                        </p-inputGroupAddon>
                        <p-inputNumber formControlName="amount" (paste)="(false)" id="amount" placeholder="Amount"
                            inputId="minmaxfraction" [minFractionDigits]="0" [maxFractionDigits]="2"
                            class="normal-input" [maxlength]="7" />
                    </div>
                    <div *ngIf="amount?.touched && amount?.errors?.['required']" class="mt-2 text-red-500">Please enter
                        an amount</div>
                    <div *ngIf="(amount?.touched && amount?.errors?.['min'] || amount?.touched && amount?.errors?.['max']) && !amount?.errors?.['required']"
                        class="mt-2 text-red-500">Please an amount greater than 0 but <br /> less than 1,000,000</div>
                </p-inputGroup>
            </div>
            <div>
                <p-inputGroup class="inputgroup-container">
                    <label for="date" class="mb-2 text-slate-900">Date</label>
                    <div class="flex">
                        <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                            <i class="pi pi-calendar"></i>
                        </p-inputGroupAddon>
                        <p-calendar formControlName="date" class="normal-input" id="date" [defaultDate]="this.minDate"
                            dateFormat="mm/dd/yy" placeholder="Date" (onSelect)="onDateSelect($event)"
                            [maxDate]="maxDate" [minDate]="minDate" />
                    </div>
                    <div *ngIf="date?.invalid && date?.touched" class="mt-2 text-red-500">Please enter a date</div>
                </p-inputGroup>
            </div>
        </div>

        <p-inputGroup class="inputgroup-container">
            <label for="notes" class="mb-2 text-slate-900">Notes</label>
            <div class="flex relative">
                <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                    <i class="pi pi-comments"></i>
                </p-inputGroupAddon>
                <input pInputText formControlName="notes" id="notes" placeholder="Notes" class="normal-input h-full pr-0" maxlength="30"/>
                <span class="ml-[-60px] text-gray-400 absolute right-3 top-3">{{notesLength}}/30</span>
            </div>
        </p-inputGroup>
    </div>

    @if (isEditingExpense) {
    <div class="flex justify-end gap-3">
        <button type="button" class="w-fit border-0 text-slate-900 rounded-[20px] px-5 py-2 cursor-pointer"
            (click)="stopEditing()">Cancel</button>
        <button type="submit"
            class="w-fit border-0 bg-slate-900 text-white rounded-[20px] px-5 py-2 font-bold cursor-pointer">Update</button>
    </div>

    } @else {
    <button type="submit"
        class="w-fit border-0 bg-slate-900 text-white rounded-[20px] px-5 py-2 font-bold ml-auto cursor-pointer">Add</button>
    }

</form>