@reference "tailwindcss";

::ng-deep .expense-input input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-input);
}

::ng-deep .expense-form .inputgroup-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #e5e7eb;
    border-left-width: 0;
    width: 100%;
    background-color: white;
}

::ng-deep .expense-form .inputgroup-input>span {
    padding-left: 0;
    padding-right: 0;
}

::ng-deep .p-datepicker table td.p-datepicker-today>span {
    background-color: transparent;
}

::ng-deep .expense-form .p-inputtext.normal-input,
::ng-deep .expense-form .normal-input>span {
    width: 100%;
}

::ng-deep .expense-form input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #e5e7eb;
    border-left-width: 0;
    width: 100%;
    background-color: white;
    padding-left: 0;
    padding-right: 20px;
}

::ng-deep .expense-form p-calendar>span {
    height: 100%;
}

::ng-deep .expense-form .p-inputtext:enabled:focus,
::ng-deep .expense-form .p-component.p-dropdown {
    box-shadow: none;
}

::ng-deep .expense-form .p-datepicker-title {
    @apply flex gap-2;
}

#category option {
    color: black;
}

#category option:nth-child(1) {
    color: #6c757d;
}

