<form [formGroup]="expenseForm" class="expense-form flex flex-col gap-4" (ngSubmit)="onSubmit()">

    <!-- {{this.expenseForm.value | json}} -->

    <h2 class="text-xl text-slate-900 my-0 font-medium">Add a new expense</h2>

    <div class="flex flex-col gap-3">
        <p-inputGroup class="inputgroup-container">
            <label for="category" class="mb-2 text-slate-900">Category</label>
            <div class="flex">
                <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                    <i class="pi pi-list"></i>
                </p-inputGroupAddon>
                <p-dropdown id="category" formControlName="category" [options]="categories" optionLabel="name" optionValue="name" placeholder="Select a category" styleClass="inputgroup-input" (onChange)="onCategorySelect($event)"/>
            </div>
            <div *ngIf="category?.invalid && category?.touched" class="mt-2 text-red-500">Please select a category</div>
        </p-inputGroup>
    
        <div class="flex gap-3">
            <div>
                <p-inputGroup class="inputgroup-container">
                    <label for="amount" class="mb-2 text-slate-900">Amount</label>
                    <div class="flex">
                        <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                            <i class="pi pi-dollar"></i>
                        </p-inputGroupAddon>
                        <input pInputText formControlName="amount" (paste)="(false)" id="amount" placeholder="Amount" class="normal-input" [pKeyFilter]="blockSpaceAndOnlyAllowNumbers" />
                    </div>
                    <div *ngIf="amount?.invalid && amount?.touched" class="mt-2 text-red-500">Please enter an amount</div>
                </p-inputGroup>
            </div>
            <div>
                <p-inputGroup class="inputgroup-container">
                    <label for="date" class="mb-2 text-slate-900">Date</label>
                    <div class="flex">
                        <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                            <i class="pi pi-calendar"></i>
                        </p-inputGroupAddon>
                        <p-calendar formControlName="date" class="normal-input" id="date" dateFormat="mm/dd/yy" placeholder="Date" [defaultDate]="this.minDate" (onSelect)="onDateSelect($event)" [maxDate]="maxDate" [minDate]="minDate"/>
                    </div>
                    <div *ngIf="date?.invalid && date?.touched" class="mt-2 text-red-500">Please enter a date</div>
                </p-inputGroup>
            </div>
        </div>

        <p-inputGroup class="inputgroup-container">
            <label for="notes" class="mb-2 text-slate-900">Notes</label>
            <div class="flex">
                <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                    <i class="pi pi-comments"></i>
                </p-inputGroupAddon>
                <input pInputText formControlName="notes" id="notes" placeholder="Notes" [value]="" class="normal-input" />
            </div>
        </p-inputGroup>
    </div>
    
    @if (isEditingExpense) {
        <div class="flex justify-end gap-3">
            <button type="button" class="w-fit border-0 text-slate-900 rounded-[20px] px-5 py-2 cursor-pointer" (click)="stopEditing()">Cancel</button>
            <button type="submit" class="w-fit border-0 bg-slate-900 text-white rounded-[20px] px-5 py-2 font-bold cursor-pointer">Update</button>
        </div>
        
    } @else {
        <button type="submit" class="w-fit border-0 bg-slate-900 text-white rounded-[20px] px-5 py-2 font-bold ml-auto cursor-pointer">Add</button>
    }
    
</form>