<div class="flex flex-col gap-2">
    <div class="flex gap-2">
        <div class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-sm flex-1 justify-center">
            <h3 class="my-0 text-slate-900 text-xl font-semibold">$3,100.00</h3>
            <p class="my-0 text-slate-600 text-base ">Monthly budget</p>
        </div>
    
        <div class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-sm flex-1 justify-center">
            <h3 class="my-0 text-slate-900 text-xl font-semibold">$2,800.00</h3>
            <p class="my-0 text-slate-600 text-base ">Expenses this month</p>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-sm flex-1 justify-center">
            <h3 class="my-0 text-slate-900 text-xl font-semibold">$300.00</h3>
            <p class="my-0 text-slate-600 text-base ">Running total</p>
        </div>
    
        <div class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-sm flex-1 justify-center">
            <h3 class="my-0 text-slate-900 text-xl font-semibold">$23.14</h3>
            <p class="my-0 text-slate-600 text-base ">Another category</p>
        </div>
    </div>
</div>