<div class="h-screen flex flex-col justify-between">
    <router-outlet></router-outlet>
    <footer class="bg-gray-200 py-4 text-center text-slate-700 flex justify-center items-center gap-6">
        <div class="flex items-center">
            <i class="pi pi-github mr-1"></i>
            <a href="https://github.com/mmoya26/dollarguard" target="_blank" rel="noopener noreferrer" class="hover:underline">Github Repository</a>
        </div>
        <div class="flex items-center">
            <i class="pi pi-youtube mr-1 text-red-600"></i>
            <a href="https://youtube.com/@domiguel?si=uPDeky5dKmb7cnqN" target="_blank" rel="noopener noreferrer" class="hover:underline">Channel</a>
        </div>
    </footer>
</div>