<div class="mt-14">
    <h2 class="text-xl text-slate-900 font-medium">Percentage Overview</h2>

    <div class="mt-5 flex gap-8">
        @for (transaction of transactions; track transaction.id) {
            <div class="flex gap-2 items-center">
                <div [style]="'background-color: ' + getCategoryColor(transaction.category)" class="w-3 h-3 rounded-full"></div>
                <p class="text-slate-600 text-s">{{transaction.category}}</p>
            </div>
        }
    </div>

    <div class="mt-5 flex gap-[2px]">
        <div class="flex flex-col items-center w-[50%] gap-1">
            <div class="h-2 w-full bg-amber-600  rounded-l-lg"></div>
            <span class="text-neutral-500 text-sm">50%</span>
        </div>

        <div class="flex flex-col items-center w-[30%] gap-1">
            <div class="h-2 w-full bg-red-600"></div>
            <span class="text-neutral-500 text-sm">30%</span>
        </div>

        <div class="flex flex-col items-center w-[5%] gap-1">
            <div class="h-2 w-full bg-cyan-600"></div>
            <span class="text-neutral-500 text-sm">5%</span>
        </div>

        <div class="flex flex-col items-center w-[5%] gap-1">
            <div class="h-2 w-full bg-slate-600"></div>
            <span class="text-neutral-500 text-sm">5%</span>
        </div>

        <div class="flex flex-col items-center w-[5%] gap-1">
            <div class="h-2 w-full bg-indigo-600"></div>
            <span class="text-neutral-500 text-sm">5%</span>
        </div>
        
        <div class="flex flex-col items-center w-[5%] gap-1">
            <div class="h-2 w-full bg-amber-300 rounded-r-lg"></div>
            <span class="text-neutral-500 text-sm">5%</span>
        </div>
    </div>
</div>