<p-dialog header="Manage Categories" [modal]="true" [(visible)]="isModalOpen" class="manage-categories-modal" draggable="false" (onHide)="closeModal()">
    <form [formGroup]="manageCategoriesForm" (ngSubmit)="onFormSubmit()">
        <div class="flex flex-col gap-1">
            <label for="categoryName">Category name</label>
            <input id="categoryName" type="text" formControlName="name" class="border border-gray-200 rounded-lg p-3 w-full mb-3" placeholder="e.g: Fast Food">
            @if (category?.invalid && !isFormValid ) {
                <p class="mb-3 text-red-500">Please enter a category name</p>
            }
        </div>

        <div class="flex flex-col gap-1">
            <label for="hexColor">Choose color</label>
            <div class="flex items-stretch gap-2">
                <p-colorPicker id="hexColor" formControlName="hexColor" class="color-picker" />
                <button type="submit" class="border-0 bg-slate-900 text-white rounded-lg py-3 font-bold cursor-pointer w-[75%]">Add Category</button>
            </div>
        </div>
        
    </form>

    <div class="mt-5">
        <h4 class="text-lg font-bold">Existing categories</h4>

        <div class="flex gap-2 flex-wrap mt-3">
            @if (currentUserCategories.length > 0) {
                @for (category of currentUserCategories; track category.name) {
                    <span [ngStyle]="{
                        backgroundColor: category.hexColor,
                        color: 'white',
                        padding: '8px 20px',
                        borderRadius: '20px',
                        display: 'flex',
                        gap: '8px',
                        alignItems: 'center'
    
                      }">{{category.name}}
                        <i class="pi pi-times text-xs cursor-pointer" (click)="deleteCategory(category.name!)"></i>
                    </span>
                }
            } @else {
                <div class="text-center w-full h-full gap-2 text-slate-500">
                    <p>
                        No categories found. Create a new category to get started <i class="pi pi-sparkles"></i></p>
                    
                </div>
            }
        </div>
    </div>
</p-dialog>