<div class="w-full max-w-8xl mx-auto my-10">
  <button class="bg-slate-900 rounded-[20px] text-white py-2 px-4 flex items-center gap-2 font-bold mb-14 mx-auto">May <i class="pi pi-chevron-down"></i></button>
  <div class="flex justify-between items-center flex-wrap gap-y-20">
    <expense-form class="block w-fit" (expenseSubmitted)="handleSubmit($event)"></expense-form>
    <monthly-stats></monthly-stats>
  </div>
  <percentage-overview></percentage-overview>
  <transactions [transactions]="listOfTransactions"></transactions>
</div>