<div class="flex flex-col gap-2">

    @if (!loadingBudget) {
        <div class="flex flex-col xl:flex-row gap-2">
            <!-- Card that will display when not editing -->
            <div [ngClass]="!isUserEditingBudget ? 'visible' : 'hidden'"
                class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-xs flex-1 justify-center cursor-pointer"
                (click)="editBudget()" id="staleBudgetBox">

                @if (this.showStatsCardsInformation) {
                    <h3 id="staleBudgetHeader" class="my-0 text-slate-900 text-xl font-semibold">{{this.monthlyBudget | currency}}</h3>
                } @else {
                    <h3 id="staleBudgetHeader" class="my-0 text-slate-900 text-xl font-semibold">******</h3>
                }

                <p id="staleBudgetLabel" class="my-0 text-slate-600 text-base ">Monthly budget</p>
            </div>
    
            <!-- Card that will display when editing -->
            <div [ngClass]="isUserEditingBudget ? 'visible active-border' : 'hidden'"
                class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-xs flex-1 justify-center cursor-pointer"
                id="editBudgetBox">
                <form (ngSubmit)="handleBudgetChanges()" class="flex justify-center" id="editBudgetBoxForm">
                    <span class="text-slate-900 text-xl font-semibold" id="editBudgetDollarSign">$</span>
                    <p-inputNumber autofocus="true" [(ngModel)]="newBudgetAmount" name="newBudget" maxlength="7"
                        inputId="editBudgetInputChild" class="budget-input" id="editBudgetInput"
                        (onBlur)="handleBudgetChanges()" />
                </form>
                <p class="my-0 text-slate-600 text-base" id="editBudgetBoxLabel">Adjusting budget</p>
            </div>
    
            <div
                class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-xs flex-1 justify-center">
                
                @if (this.showStatsCardsInformation) {
                    <h3 class="my-0 text-slate-900 text-xl font-semibold">{{monthExpenses | currency}}</h3>
                } @else {
                    <h3 class="my-0 text-slate-900 text-xl font-semibold">******</h3>
                }

                <p class="my-0 text-slate-600 text-base ">Expenses this month</p>
            </div>
        </div>
    
        <div class="flex flex-col xl:flex-row gap-2">
            <div
                class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-xs flex-1 justify-center">

                @if (this.showStatsCardsInformation) {
                    <h3 class="my-0 text-slate-900 text-xl font-semibold" [ngClass]="budgetLeft < 0 ? 'negative-budget' : ''">{{this.budgetLeft | currency}}</h3>
                } @else {
                    <h3 class="my-0 text-slate-900 text-xl font-semibold">******</h3>
                }
                
                <p class="my-0 text-slate-600 text-base">Budget left</p>
            </div>
    
            <!-- <div class="flex flex-col text-center bg-white border border-gray-200 h-32 py-5 px-14 rounded-lg drop-shadow-xs flex-1 justify-center">
                <h3 class="my-0 text-slate-900 text-xl font-semibold">${{this.highestExpense?.amount || 0}}</h3>
                <p class="my-0 text-slate-600 text-base ">Highest amount: <br> {{this.highestExpense?.name}}</p>  
            </div> -->
        </div>

        <button class="flex items-center justify-end gap-1 cursor-pointer" (click)="toggleStatsCards()">
            @if (this.showStatsCardsInformation) {
                <i class="pi pi-eye text-slate-500 text-xs"></i>
                <span class="text-slate-500 text-xs">Hide stats</span>
            } @else {
                <i class="pi pi-eye-slash text-slate-500 text-xs"></i>
                <span class="text-slate-500 text-xs">Show stats</span>
            }
        </button>
        
    } @else {
        <div class="flex flex-col xl:flex-row gap-2">
            <p-skeleton class="xl:flex-1" width="100%" height="7rem"/>
            <p-skeleton class="xl:flex-1" width="100%" height="7rem"/>
        </div>
    
        <div class="flex flex-col xl:flex-row gap-2">
            <p-skeleton class="xl:w-[32rem]" width="100%" height="7rem" />
        </div>
    }
</div>