<div class="flex items-center justify-center">
    <div class="p-5 max-w-lg w-full">
        <h1 class="font-bold text-4xl mb-10 text-center text-slate-900">Log In</h1>

        @if(errorMessage) {
            <div class="bg-rose-200 rounded-lg py-6 mb-4 flex justify-center items-center gap-x-2">
                <i class="pi pi-exclamation-circle text-rose-800"></i>
                <p class="text-rose-800 w-4/5">{{errorMessage}}</p>
            </div>
        }

        <form class="flex flex-col gap-y-4" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="flex flex-col gap-y-1">
                <label for="email">Email</label>

                <div class="flex">
                    <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                        <i class="pi pi-envelope"></i>
                    </p-inputGroupAddon>
                    <input class="auth-inputs" type="email" name="email" id="email" formControlName="username" autocomplete="on">
                </div>
                
                @if (username?.invalid && submitedForm) {
                    <div class="mt-2 text-red-500">Please enter your email</div>
                }

            </div>

            <div class="flex flex-col gap-y-1">
                <label for="password">Password</label>
                <div class="flex">
                    <p-inputGroupAddon class="border border-r-0 border-gray-200 bg-white">
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input class="auth-inputs" type="password" name="password" id="password" formControlName="password">
                </div>
                

                @if (password?.invalid && submitedForm) {
                    <div class="mt-2 text-red-500">Please enter your password</div>
                }
            </div>

            <!-- <span class="block text-right text-gray-600 hover:underline">Forgot your password?</span> -->

            @if (!loginLoading) {
                <button type="submit" class="w-full border-0 bg-slate-900 text-white rounded-lg py-3 font-bold ml-auto cursor-pointer mt-2">Login</button>
            } @else {
                <button disabled type="button" class="w-full border-0 bg-slate-900 text-white rounded-lg py-3 font-bold ml-auto cursor-pointer mt-2"><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></button>
            }

            <p class="text-center mt-3 text-slate-600">Don't have an account? <a routerLink="/signup" class="text-indigo-600 hover:underline">Sign up now</a></p>
            <button type="button" class="text-slate-600 cursor-pointer" (click)="login(true)">Login as a guest</button>
        </form>
    </div>
</div>