<div class="h-screen flex items-center justify-center">
    <div class="p-5 max-w-lg w-full">
        <h1 class="font-bold text-4xl mb-10 text-center text-slate-900">Log In</h1>

        @if (invalidCredentials) {
            <div class="bg-rose-200 rounded-lg py-6 mb-4 flex justify-center items-center gap-x-2">
                <i class="pi pi-exclamation-circle text-rose-800"></i>
                <p class="text-rose-800">Unable to log in please check your credentials</p>
            </div>
        } @else if (unknownError) {
            <div class="bg-rose-200 rounded-lg py-6 mb-4 flex justify-center items-center gap-x-2">
                <i class="pi pi-exclamation-circle text-rose-800"></i>
                <p class="text-rose-800 w-4/5">There was an in issue when trying to log you in, please try again later</p>
            </div>
        }

        <form class="flex flex-col gap-y-4" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="flex flex-col gap-y-1">
                <label for="email">Email</label>
                <input class="auth-inputs" type="email" name="email" id="email" formControlName="email">
                @if (email?.invalid && submitedForm) {
                <div class="mt-2 text-red-500">Please enter your email</div>
                }

            </div>

            <div class="flex flex-col gap-y-1">
                <label for="password">Password</label>
                <input class="auth-inputs" type="password" name="password" id="password" formControlName="password">

                @if (password?.invalid && submitedForm) {
                <div class="mt-2 text-red-500">Please enter your password</div>
                }
            </div>

            <span class="block text-right text-gray-600 hover:underline">Forgot your password?</span>

            @if (!loginLoading) {
                <button type="button"
                class="w-full border-0 bg-slate-900 text-white rounded-lg py-3 font-bold ml-auto cursor-pointer mt-2">Login</button>
            } @else {
            <!-- Disable button while request is loading-->
                <button type="button"
                    class="w-full border-0 bg-slate-900 text-white rounded-lg py-3 font-bold ml-auto cursor-pointer mt-2"><i
                        class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></button>
            }

            <p class="text-center mt-3">Don't have an account? <a routerLink="/signup" class="text-indigo-600 hover:underline">Sign up now</a></p>
        </form>
    </div>
</div>