<div class="content-container">
    <h1 class="text-center font-bold text-4xl text-slate-900">Year selection</h1>
    <h4 class="text-center text-slate-600 text-sm mt-2">Select a year to edit or view your expenses</h4>

    @if(activeYears$ | async; as activeYears) {
        @if (activeYears.length > 0) {
            <div class="flex gap-4 mt-8 justify-center flex-wrap">
                @for (year of activeYears; track year) {
                    <a [routerLink]="['/expenses', year, currentMonth]"
                        class="hover:border-slate-900 transition-all hover:bg-slate-900 hover:text-white text-slate-900 border border-slate-900 cursor-pointe rounded-[20px] py-2 px-4">
                        {{year}}
                    </a>
                }

                <button (click)="openNewYearModal()" class="flex items-center hover:border-slate-900 transition-all hover:bg-transparent hover:text-slate-900 text-white border border-slate-900 cursor-pointer bg-slate-900 rounded-[100%] p-3">
                <i class="pi pi-plus font-medium"></i></button>
            </div>
        } @else {
            <button (click)="openNewYearModal()" class="flex gap-2 font-medium items-center hover:border-slate-900 transition-all hover:bg-transparent hover:text-slate-900 text-white border border-slate-900 cursor-pointer bg-slate-900 rounded-[8px] py-3 px-3 mx-auto mt-5">
                <i class="pi pi-plus font-medium"></i>Start tracking</button>
        }
    } @else {
        <div class="flex justify-center mt-5 text-4xl"><i class="pi pi-spin pi-spinner"></i></div>
    }
</div>


<p-dialog header="Add year for tracking" [modal]="true" [(visible)]="isNewYearModalOpen" draggable="false" id="newActiveYearModal" (onHide)="this.yearAlreadyExistsError = false">
    <p-inputNumber (onInput)="test()" class="w-full block" inputId="integeronly" [useGrouping]="false" maxlength="4" [(ngModel)]="newYearFormValue" placeholder="e.g: 2025"/>
    
    @if (yearAlreadyExistsError) {
        <p class="text-xs mt-2 text-red-500">You're already tracking the year {{newYearFormValue}}</p>        
    }

    <br>

    <button (click)="patchActiveYears()" class="bg-slate-900 rounded-[20px] text-white py-2 px-4 block w-full">Start tracking <span class="font-bold">{{newYearFormValue}}</span></button>
</p-dialog>