<div class="mt-14">
    <h2 class="text-xl text-slate-900 font-medium">Transactions</h2>

    @if(transactions.length > 0) {
        <div class="mt-5 max-h-[500px] overflow-y-scroll border border-gray-200 rounded-lg drop-shadow-sm">
            <table class="w-full border-separate border-spacing-0 bg-white">
                <thead class="bg-transparent rounded-lg">
                    <tr class="border-none text-slate-600 ">
                        <th class="py-5">#</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th class="w-1/4">Category</th>
                        <th class="text-transparent">Missing</th>
                    </tr>
                </thead>
        
                <tbody>
                    @for (transaction of transactions; track transaction.id; let idx = $index;) {
                        <tr class="text-center text-slate-700 text-base">
                            <td class="py-7">{{idx + 1}}</td>
                            <td>${{transaction.amount}}</td>
                            <td>{{transaction.date | date}}</td>
                            <td>
                                <div [style]="'color: ' + transaction.category.hexColor + ';' + 
                                'border-color: ' + transaction.category.hexColor + ';' "
                                class=" border w-fit mx-auto px-3 py-2 rounded-full">{{transaction.category.name}}</div>                    
                            </td>
                            <td>
                                <i class="pi pi-pencil bg-slate-900 p-3 rounded-full text-white cursor-pointer" (click)="editTransaction()"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>        
        </div>
    } @else {
        <div class="mt-5">
            <h3 class="text-xl font-bold text-slate-400">No transactions found yet...</h3>
        </div>
    }
</div>