<app-modal headerTitle="Add year for tracking" [isOpen]="isOpen" (onModalClose)="closeNewActiveYearModal()"
    modalId="newActiveYearModal">
    <form (ngSubmit)="patchActiveYears($event)">
        <p-inputNumber (onInput)="yearAlreadyExistsError ? this.yearAlreadyExistsError = false : null"
            class="w-full block" inputId="integeronly" [useGrouping]="false" maxlength="4"
            [(ngModel)]="newYearFormValue" placeholder="e.g: 2025" name="activeYear"/>

        @if (yearAlreadyExistsError) {
        <p class="text-xs mt-2 text-red-500">You're already tracking the year {{newYearFormValue}}</p>
        }

        <br>

        <button (click)="patchActiveYears($event)" class="bg-slate-900 rounded-[20px] text-white py-2 px-4 block w-full">Start
            tracking <span class="font-bold">{{newYearFormValue}}</span></button>
    </form>
</app-modal>